body {
  background-image: url('image/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
    color: red; 
}
p {
  color: black;  
}
ol{
  color:red;
  font-size:50px;
}
